.form {
    width: 430px;
    border: 1px solid whitesmoke;
    height: auto;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.input {
    width: 250px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    color: aliceblue;
}

.error {
    color: red;
}

.labelContainer {
    width: 98%;
}

